NodeRedFlow.json
[{"id":"5f679c8a.505ae4","type":"tab","label":"Flow Encrypt ","disabled":false,"info":""},{"id":"cf9e5f6c.ffb52","type":"trigger","z":"5f679c8a.505ae4","name":"Wait 20s","op1":"","op2":"Safe zone","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":480,"wires":[["688f6ea5.cc152"]]},{"id":"baa32254.fab0d","type":"debug","z":"5f679c8a.505ae4","name":"Encrypted Value","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":340,"wires":[],"icon":"font-awesome/fa-envelope"},{"id":"871c81e4.bc705","type":"change","z":"5f679c8a.505ae4","name":"Lesser than 60 bpm","rules":[{"t":"set","p":"payload","pt":"msg","to":"Patient is out of Danger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":540,"wires":[["cf9e5f6c.ffb52","76f0aa3.e7c7d54"]]},{"id":"9005915b.e4529","type":"inject","z":"5f679c8a.505ae4","name":"Sensor - 100 bpm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":150,"y":340,"wires":[["42c046ac.6ffb28","81960156.7045f"]]},{"id":"42c046ac.6ffb28","type":"switch","z":"5f679c8a.505ae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"100","vt":"num"},{"t":"eq","v":"60","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":440,"wires":[["1395d608.8c19aa"],["871c81e4.bc705"]]},{"id":"78d56754.a8de38","type":"inject","z":"5f679c8a.505ae4","name":"Sensor - 60 bpm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensors/Sensor reading - 60 bpm","payload":"60","payloadType":"num","x":140,"y":540,"wires":[["42c046ac.6ffb28","7fe39dd.c172064"]]},{"id":"688f6ea5.cc152","type":"debug","z":"5f679c8a.505ae4","name":"Notify Paramedics","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1440,"y":480,"wires":[],"icon":"node-red/alert.svg"},{"id":"1395d608.8c19aa","type":"change","z":"5f679c8a.505ae4","name":"Higher than 100 bpm","rules":[{"t":"set","p":"payload","pt":"msg","to":"Higher than 100 bpm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["4266c53.5a5383c"]],"info":"msg. payload = \"help me\";\r\nreturn msg;"},{"id":"28aaf0a8.38402","type":"rbe","z":"5f679c8a.505ae4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":340,"wires":[["baa32254.fab0d"]]},{"id":"24038a3f.555e86","type":"http request","z":"5f679c8a.505ae4","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"https://iott.azurewebsites.net/home/rimoFunc?value=Patient Needs Medical Help","tls":"","persist":true,"proxy":"","authType":"","x":1170,"y":220,"wires":[["1a52f82e.dcb6d8"]]},{"id":"1a52f82e.dcb6d8","type":"debug","z":"5f679c8a.505ae4","name":"Notify Doctors","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"66e1c8b1.fa6948","type":"mqtt out","z":"5f679c8a.505ae4","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"36808b8b.4be5c4","x":1170,"y":620,"wires":[],"info":"String clientId = MqttClient.generateClientId();\r\n MqttConnectOptions options = new MqttConnectOptions();\r\n options.setUserName(\"USERNAME\");\r\n options.setPassword(\"PASSWORD\".toCharArray());\r\n MqttAndroidClient client =\r\n    new MqttAndroidClient(this.getApplicationContext(), \"tcp://broker.hivemq.com:1883\",\r\n                          clientId);\r\n\r\n  try {\r\n       IMqttToken token = client.connect(options);\r\n       token.setActionCallback(new IMqttActionListener() {\r\n       @Override\r\n        public void onSuccess(IMqttToken asyncActionToken) {\r\n        // We are connected\r\n        Log.d(TAG, \"onSuccess\");\r\n       }\r\n\r\n      @Override\r\n      public void onFailure(IMqttToken asyncActionToken, Throwable exception) {\r\n        // Something went wrong e.g. connection timeout or firewall problems\r\n        Log.d(TAG, \"onFailure\");\r\n       }\r\n      });\r\n     } catch (MqttException e) {\r\n    e.printStackTrace();\r\n }\r\n\r\nYou can publish message to topic power \r\n\r\n\r\n     String topic = \"power\";\r\n     String payload = \"ON\";\r\n     byte[] encodedPayload = new byte[0];\r\n\r\n   try {\r\n       encodedPayload = payload.getBytes(\"UTF-8\");\r\n       MqttMessage message = new MqttMessage(encodedPayload);\r\n       client.publish(topic, message);\r\n     }  catch (UnsupportedEncodingException | MqttException e) {\r\n      e.printStackTrace();\r\n   }"},{"id":"be14e185.91c9d","type":"mqtt in","z":"5f679c8a.505ae4","name":"","topic":"sensors/#","qos":"0","datatype":"auto","broker":"36808b8b.4be5c4","nl":false,"rap":false,"x":1180,"y":780,"wires":[["3b934bc7.9089f4"]]},{"id":"3b934bc7.9089f4","type":"debug","z":"5f679c8a.505ae4","name":"Encrypted output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":780,"wires":[],"icon":"font-awesome/fa-envelope"},{"id":"c298ff55.e16d1","type":"http request","z":"5f679c8a.505ae4","name":"Encrption","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://iott.azurewebsites.net/home/RimoEncrypt?clearText={{{payload}}}","tls":"","persist":true,"proxy":"","authType":"","x":920,"y":220,"wires":[["28aaf0a8.38402","24038a3f.555e86"]],"icon":"font-awesome/fa-shield"},{"id":"622bd9e7.73af38","type":"http request","z":"5f679c8a.505ae4","name":"Decrption","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://iott.azurewebsites.net/home/RimoDecrypt?cipherText={{{payload}}}","tls":"","persist":true,"proxy":"","authType":"","x":1160,"y":100,"wires":[["4f229fdf.d4afb"]],"icon":"node-red/file-in.svg"},{"id":"4f229fdf.d4afb","type":"debug","z":"5f679c8a.505ae4","name":"Decrypt Data","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":100,"wires":[],"icon":"font-awesome/fa-envelope-open"},{"id":"4266c53.5a5383c","type":"function","z":"5f679c8a.505ae4","name":"Message","func":"var payload=msg.payload;\nmsg.payload=\"Patient Needs Medical Help\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":220,"wires":[["c298ff55.e16d1"]]},{"id":"6fba9878.358dd8","type":"function","z":"5f679c8a.505ae4","name":"Throw","func":"node.error(\"Error!\",msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":660,"wires":[["76f0aa3.e7c7d54"]],"icon":"font-awesome/fa-warning"},{"id":"df656955.687ed8","type":"catch","z":"5f679c8a.505ae4","name":"Catch","scope":["6fba9878.358dd8"],"uncaught":false,"x":670,"y":780,"wires":[["6fba9878.358dd8","3e400c2f.6fc774"]]},{"id":"3e400c2f.6fc774","type":"debug","z":"5f679c8a.505ae4","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":780,"wires":[],"icon":"font-awesome/fa-flash"},{"id":"76f0aa3.e7c7d54","type":"http request","z":"5f679c8a.505ae4","name":"Encryption","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://iott.azurewebsites.net/home/RimoEncrypt?clearText={{{payload}}}","tls":"","persist":true,"proxy":"","authType":"","x":930,"y":620,"wires":[["66e1c8b1.fa6948"]],"icon":"font-awesome/fa-shield"},{"id":"aea2a89c.265528","type":"debug","z":"5f679c8a.505ae4","name":"Time-in1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[],"icon":"node-red/timer.svg"},{"id":"81960156.7045f","type":"function","z":"5f679c8a.505ae4","name":"get time1","func":"var dNow = new Date();\n\nvar weekday= dNow.toLocaleString(\"default\", { weekday: \"long\" });\nvar M =  dNow.toLocaleString('en-us', { month: 'long' });\nvar D =  dNow.getDate();\nvar Y =  dNow.getFullYear();\n\nvar date = 'Date: '+dNow.toLocaleString(\"default\", { weekday: \"long\" })+', '+dNow.toLocaleString('en-us', { month: 'long' })+' '+dNow.getDate() + ', ' +dNow.getFullYear();\n\nvar Hrs = dNow.getUTCHours()+5;\nvar hours = (Hrs % 12) || 12;\nvar Min = dNow.getUTCMinutes();\nvar Sec = dNow.getUTCSeconds();\nvar Ms  =  dNow.getUTCMilliseconds();\n\nvar time = 'Request Time:  '+hours+':'+dNow.getUTCMinutes()+':'+dNow.getUTCSeconds()+':'+dNow.getUTCMilliseconds();\nvar new1=date+\"\\r\"+time;\n\nreturn {payload: new1};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["aea2a89c.265528"]],"icon":"node-red/timer.svg"},{"id":"12dcef36.c084b1","type":"debug","z":"5f679c8a.505ae4","name":"Time-in2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":780,"wires":[],"icon":"node-red/timer.svg"},{"id":"7fe39dd.c172064","type":"function","z":"5f679c8a.505ae4","name":"get time2","func":"var dNow = new Date();\n\nvar weekday= dNow.toLocaleString(\"default\", { weekday: \"long\" });\nvar M =  dNow.toLocaleString('en-us', { month: 'long' });\nvar D =  dNow.getDate();\nvar Y =  dNow.getFullYear();\n\nvar date = 'Date: '+dNow.toLocaleString(\"default\", { weekday: \"long\" })+' '+dNow.toLocaleString('en-us', { month: 'long' })+', '+dNow.getDate() + ', ' +dNow.getFullYear();\n\n\nvar Hrs = dNow.getUTCHours()+5;\nvar hours = (Hrs % 12) || 12;\nvar Min = dNow.getUTCMinutes();\nvar Sec = dNow.getUTCSeconds();\nvar Ms  =  dNow.getUTCMilliseconds();\n\nvar time = 'Request Time:  '+hours+':'+dNow.getUTCMinutes()+':'+dNow.getUTCSeconds()+':'+dNow.getUTCMilliseconds();\nvar new1=date+\"\\r\"+time;\nreturn {payload: new1};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["12dcef36.c084b1"]],"icon":"node-red/timer.svg"},{"id":"e4d340a7.a057b","type":"comment","z":"5f679c8a.505ae4","name":"HTTP flow","info":"","x":640,"y":380,"wires":[]},{"id":"5fd88258.17eb3c","type":"comment","z":"5f679c8a.505ae4","name":"MQT flow","info":"","x":640,"y":500,"wires":[]},{"id":"36808b8b.4be5c4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"client-test","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"100","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]